@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/morena');

@mixin hide-scrollbar() {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* WebKit-based browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  overflow-wrap: break-word;
  word-break: break-word;
}

* {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

html {
  @include hide-scrollbar();
  font-size: 16px;
  line-height: 1.5;
  font-family: Pretendard, Noto Sans KR, Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #121212;
  color: #FFF;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

/* -------------------------------------------------------------------------------------------------
 * layout
 * ----------------------------------------------------------------------------------------------- */

$max-width: 980px;

header {
  max-width: $max-width;
  margin: 0 auto;
  //background: green;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0 60px 0;
  flex: 1;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 10px 0 40px 0;
    background: red;
  }
}

footer {
  max-width: $max-width;
  margin: 0 auto;
}

.contents {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.nav-snb-container {
  @include hide-scrollbar();
  //display: none;
  display: flex;
  flex-direction: column;
  width: 356px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -356px;
  border-right: 1px solid #272B2E;
  overflow-y: scroll;
  background: red;
}
