@use 'variables';
@use 'mixin';
@use 'function' as fn;

.markdown {
  @include mixin.markdown();
  @include mixin.obsidian();
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  code[class*="language-"],
  pre[class*="language-"] {
    @include mixin.selection(#404859);
    color: #ACB2BE;
    background: none;
    font-family: JetBrains Mono, Pretendard, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1rem 1.2rem;
    margin: .5rem 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #282C34;
    border-radius: 12px;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1rem;
    border-radius: .3rem;
    white-space: normal;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #DFBB52;
  }

  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #BB9269;
  }

  .token.function-name {
    color: #74ADE9;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #74ADE9;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #5CBAA5;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #BC7CD7;
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: #A1C281;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #ACB2BE;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: #98B87B;
  }

  code[class*=language-text] {
    color: #FFF;
    background: #292C33;
    font-weight: 300;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
    font-size: 0.9rem
  }

  &__content {
    width: 100%;
  }
}