@use '../../styles/mixin';
@use '../../styles/function' as fn;

.header-container {
  @include mixin.flex(start, start) {
    flex-direction: column;
    gap: fn.rem(10px)
  }
  margin-bottom: fn.rem(30px);

  h1 {
    font-size: fn.rem(32px);
    font-weight: 500;
    line-height: 1.14;
    color: #CCC;
  }

  div {
    font-size: fn.rem(13px);
    @include mixin.flex(start, start) {
      gap: fn.rem(14px);
    }
    width: 100%;
    color: #71717B;
  }
}